apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-app
  namespace: {{ .Values.namespace }}
  labels:
    app: spring-app
spec:
  replicas: {{ .Values.springApp.replicaCount }}
  selector:
    matchLabels:
      app: spring-app
  template:
    metadata:
      labels:
        app: spring-app
    spec:
      containers:
        - name: spring-app
          image: {{ .Values.images.springApp }}
          imagePullPolicy: {{ .Values.springApp.imagePullPolicy }}
          ports:
            - containerPort: {{ .Values.springApp.service.port }}
              name: http
          env:
{{- range .Values.springApp.env }}
            - name: {{ .name }}
              value: "{{ .value }}"
{{- end }}
          resources:
            {{- toYaml .Values.springApp.resources | nindent 12 }}
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: http
            initialDelaySeconds: 20
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: spring-app
  namespace: {{ .Values.namespace }}
  labels:
    app: spring-app
spec:
  type: {{ .Values.springApp.service.type }}
  selector:
    app: spring-app
  ports:
    - name: http
      port: {{ .Values.springApp.service.port }}
      targetPort: http
