apiVersion: v1
kind: Service
metadata:
  name: zookeeper
  namespace: {{ .Values.namespace }}
  labels:
    app: zookeeper
spec:
  ports:
    - port: {{ .Values.zookeeper.clientPort }}
      name: client
  clusterIP: None
  selector:
    app: zookeeper
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: zookeeper
  namespace: {{ .Values.namespace }}
  labels:
    app: zookeeper
spec:
  serviceName: zookeeper
  replicas: 1
  selector:
    matchLabels:
      app: zookeeper
  template:
    metadata:
      labels:
        app: zookeeper
    spec:
      containers:
        - name: zookeeper
          image: {{ .Values.images.zookeeper }}
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: {{ .Values.zookeeper.clientPort }}
              name: client
          env:
            - name: ZOO_CLIENT_PORT
              value: "{{ .Values.zookeeper.clientPort }}"
            - name: ALLOW_ANONYMOUS_LOGIN
              value: "yes"
          readinessProbe:
            tcpSocket:
              port: client
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: client
            initialDelaySeconds: 10
            periodSeconds: 20
